*.o
*.log
*.deb
*.build
build-*
*.changes
*.dsc
*.tar.xz
debian/
*.qm
*.so
*.so.*
Makefile
*-stamp
systemback/sbsustart/sbsustart
systemback/sbsysupgrade/sbsysupgrade
systemback/sbscheduler/sbscheduler
moc_*
qrc_*
ui_*
systemback/systemback/systemback
systemback/systemback-cli/systemback-cli
