[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Systemback scheduler daemon
Exec=/usr/lib/systemback/sbsustart scheduler
Type=Application
Icon=systemback
Terminal=false
OnlyShowIn=KDE;
NoDisplay=true
